nav img{
    position: absolute;
    width: 100px;
    top: 25px;
    left: 25px;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("New folder/rob2.png");
    background-position: center;
    background-size: cover;
    position: relative;
}
.container{
	height: 330px;
	width: 1000px;
	position: absolute;
	top:50%;
	left:50%;
	transform: translateX(-50%) translateY(-50%);
	background: rgba(155, 155, 155, 0.5);
	padding: 20px;
	border: 1px solid #73beb0;
	box-shadow: 0 0 8px 3px #fff;
}

.title{
	padding-top: 20px;
	text-align: center;
	font-size: 36px;
	text-transform: uppercase;
	color: #fff;
}

.question{
	padding: 20px;
	font-size: 22px;
	background: #38b000;
	border-radius: 20px;
	margin: 10px 0 10px 0;
	color: #fff;
}

.option{
	width: 470px;
	display: inline-block;
	padding: 10px 0 10px 15px;
	vertical-align: middle;
	background: #38b000;
	margin: 10px 0 10px 10px;
	color: #fff;
	border-radius: 20px;
}

.option:hover{
	background: #008000;
	color: #f6f6f6;
}

.next-btn, .prev-btn{
	border: none;
	outline: none;
	background: #006400;
	width: 100px;
	height: 35px;
	border-radius: 20px;
	cursor: pointer;
	float: right;
	margin: 10px;
}

.next-btn:hover,
.prev-btn:hover{
	background: #004b23;
	color: #f6f6f6;
}

.result{
	height: 100px;
	text-align: center;
	font-size: 75px;
}

.option input:checked .option{
	background: #08038C;
	color: #000;
}