/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav img{
    position: absolute;
    width: 100px;
    top: 25px;
    left: 25px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(bgglevel2.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
}

/* Button */
button {
    border: none;
    background-color: transparent;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.5s;
}

button:focus {
    outline: none;
}

button:hover i {
    color: rgb(102, 102, 102);
}

i {
    color: gray;
    font-size: 4em;
}

/* Book */
.book {
    width: 350px;
    height: 500px;
    position: relative;
    transition: transform 0.5s;
}

.paper {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    perspective: 1500px;
}

.front {
    backface-visibility: hidden;
    border-left: 3px solid lightblue;
}

.front, 
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right bottom, #85D4CA, #7ED3D9, #7FD2E6, #89CFF0, #9ACBF6, #AEC6F7, #C3C1F3, #7EC8E3, #B1D4E0, #75E6DA, #D4F1F4);
    transform-origin: left;
    transition: transform 0.5s;
}

.front {
    z-index: 1;
}
.front audio{
    width: 315px;
    outline: none;
  }

.back {
    z-index: 0;
}

.back audio{
    bottom: 0;
    width: 315px;
    outline: none;
  }

.front-content,.back-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.back-content {
    transform: rotateY(180deg)
}

.back-content .box input[type="text"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid green;
    padding: 14px 10px;
    width: 220px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25px;
}

.back-content .box input[type="text"]:focus{
    width: 270px;
    border-color: #00c000;
}


/* Paper Flipped */
.flipped .front,
.flipped .back {
    transform: rotateY(-180deg)
}

/* Paper Z-index */
#p1 {
    z-index: 3;
}

#p2 {
    z-index: 2;
}

#p3 {
    z-index: 1;
}

/* Customization */

.book-title {
    font-size: 3em;
    margin-bottom: 40px;
}

.cover-img {
    width: 200px;
    height: 270px;
    width: 100%;
    height: 300px;
    border-radius: 30px;
}

#b1 {
    padding: 20px;
    text-align: center;
    font-size: 12px;
    justify-content: space-around;
}

#f1 {
    padding: 20px;
    text-align: center;
    font-size: 16px;
    justify-content: space-around;
}

#b1 h1 {
    font-size: 2em;
    margin-top: 10px;
    margin-bottom: 20px;
}

#b1 p {
    margin-bottom: 20px;
}

.buttonnext {
    position: absolute;
    bottom: 10px;
    right: 35px;
    border-radius: 10px;
    background-color: #00BFFF;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 20px;
    width: 125px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .buttonnext span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .buttonnext span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .buttonnext:hover span {
    padding-right: 25px;
  }
  
  .buttonnext:hover span:after {
    opacity: 1;
    right: 0;
  }